.a-setting {
    position: relative;
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 270px;
        border: 1px solid #ccc;
        background-color: var(--primary-second);

    }
    .app-right {
        margin-left: 270px;
        flex: 1;
        padding: 40px;
    }
    .logout-icon {
        position: absolute ;
        bottom: 10px  ;
        right: 50%;
        transform: translateY(-50%);
    }
}